*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    font-size: 62.5%;
    /* Colors */
    --Orange: hsl(25, 97%, 53%);
    --White: hsl(0, 0%, 100%);
    --LightGrey: hsl(217, 12%, 63%);
    --MediumGrey: hsl(216, 12%, 54%);
    --DarkBlue: hsl(213, 19%, 18%);
    --VeryDarkBlue: hsl(216, 12%, 8%);
    /* Font */
    font-family: 'Overpass', sans-serif;
}
body {
    color: var(--White);
    min-height: 100vh;
    font-size: 1.5rem; 
    background-color: var(--VeryDarkBlue);
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.ratingStateContainer {
    max-width: 32.5rem;
    background-color: var(--DarkBlue);
    background-image: linear-gradient(180deg, var(--DarkBlue), var(--VeryDarkBlue));
    padding: 3rem 2.7rem;
    border-radius: 2rem;
    box-shadow: 0px 19px 50px 0px rgba(0,0,0,0.27);
    /* display: none; */
    

} 
.starIconContainer {
    background-color: var(--DarkBlue);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    border-radius: 50% ;
    margin-bottom: 1.7rem;

}
.ratingH1 {
    font-size: 2.5rem;
    margin-bottom: 1.3rem;
}
.ratingParagraph {
    margin-bottom: 2rem;
    color: var(--LightGrey);
}
.numberRatingContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.3rem;
}
.numberRatings {
    color: var(--MediumGrey);
    background-color: var(--DarkBlue);
    width: 4.2rem;
    height: 4.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding-top: 2px;
    cursor: pointer;
    border: none;
    /* font-size: 1.6rem; */
    
}
.numberRatings:hover {
    background-color: var(--Orange);
    color: var(--White);
} 
#one:focus, #two:focus, #three:focus, #four:focus, #five:focus {
    background-color: var(--MediumGrey);
    color: var(--White);
} 
.submit {
    background-color: var(--Orange);
    color: var(--White);
    width: 100%;
    padding: 1.2em 0;
    border-radius: 30px;
    letter-spacing: 2px;
    border: none;
    cursor: pointer;
}
.submit:hover {
    background-color: var(--White);
    color: var(--Orange);
}

/* Rating State Media Queries */

@media screen and (min-width: 992px) {

    .ratingStateContainer {
        
        padding: 3.3rem 3.3rem;
        max-width: 41rem;
        border-radius: 3rem;
    }
    .starIconContainer {
        margin-bottom: 3rem;
    }
    h1 {
        font-size: 3rem;
    }
    .numberRatingContainer {
        margin-bottom: 3rem;
    }
    .numberRatings {
        font-size: 1.6rem;
        width: 5rem;
        height: 5rem;
    }
    
}

/* Thank You State CSS */


.thankYouStateContainer {
    max-width: 32.5rem;
    background-color: var(--DarkBlue);
    background-image: linear-gradient(180deg, var(--DarkBlue), var(--VeryDarkBlue));
    text-align: center;
    padding: 3rem 2rem 4rem ;
    border-radius: 1.5rem;
   
} 
.cardBackgroundImage {
    margin-bottom: 1.7rem;
}
.thankYouH1Container {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;

}
.thankYouH1 {
    color: var(--Orange);
    opacity: .9;
    font-size: 1.5rem; 
    font-weight: 400;
    background-color: var(--DarkBlue);
    /* display: inline-block; */
    padding: .6rem 0 .3rem;
    /* justify-content: center;
    align-items: center; */
    width: 18rem;
    border-radius: 1.8rem;
}
.thankYouH2 {
    font-size: 2.5rem;
    margin-bottom: 1.3rem;
}
.thankYouParagraph {
    color: var(--LightGrey);
    line-height: 1.5;
    
}

/* Thank You State Media Queries  */

@media screen and (min-width: 992px) {
    .thankYouStateContainer {
        max-width: 41rem;
        padding: 4.5rem 3.5rem  ;
        border-radius: 2.7rem;
        /* text-align: center; */
    }
    .thankYouH1 {
        /* display: block; */
        /* text-align: center; */
    }
    
}



